<div class="unauthorized-container">
  <div class="card">
    <div class="icon">🚫</div>

    <h1>دسترسی غیر مجاز</h1>

    <p>شما اجازه دسترسی به این صفحه را ندارید.</p>

    <div class="hint">
      ممکن است دلیل این موضوع یکی از موارد زیر باشد:
      <ul>
        <li>شما وارد سیستم نشده‌اید.</li>
        <li>شما دسترسی لازم برای مشاهده این صفحه را ندارید.</li>
      </ul>
      <p>لطفاً برای دسترسی به این صفحه، وارد سیستم شوید یا با مدیر سیستم تماس بگیرید.</p>
    </div>

    <button class="btn" (click)="goHome()">
     بازگشت به خانه
    </button>
  </div>
</div>
